html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.viewport {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: #222;
}

.gameArea{
  position: relative;
}

.gameCanvas {
  background: #aaa;

  display: block;
}

.world {
  position: relative;

  width: 1920px;
  height: 1080px;

  transform-origin: center center;
}

.version{
  position:absolute;

  right: 12px;
  bottom: 8px;

  color: white;
  font-size: 14px;

  opacity: 0.4;

  user-select: none;
  pointer-events: none;
}

.background {
  position: absolute;
  left: 0;
  top: 0;

  width: 1920px;
  height: 1080px;
}

.bus01 {
  position: absolute;
}